[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "ls/dircolors-solarized"]
	path = ls/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "Vim/dotvim"]
	path = Vim/dotvim
	url = https://github.com/mingchaoyan/dotvim.git
[submodule "VisualStudio/visualstudio-colors-solarized"]
	path = VisualStudio/visualstudio-colors-solarized
	url = https://github.com/leddt/visualstudio-colors-solarized.git
